.site-page-header-ghost-wrapper {
  padding: 2px;
  background-color: black;
}

.site-page-subheader-ghost-wrapper {
  background-color: black;
  color: white;
  font-weight: 400;
  padding: 5px 25px;
}

.categories{
  color:white;
}

.title{
    margin: 0px;
    display: inline;
    position: relative;
    font-family: "Avenir Next", sans-serif;
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0.05em;
    display: inline-block;
    color: #610094;
    padding-left: 10px;
}

.title:hover{
  color: white;
}

.categories:hover{
  cursor:pointer;
  color: #adadad; 
}


.logo {
  height: 40px;
  margin-right: 20px;
}

.flag {
  height: 20px;
}



.header-icon {
  font-size: 30px;
}

.header-buttons {
  color: white;
  font-size: 12px;
}

.header-buttons:hover {
  cursor: pointer;
  color: #adadad;
}