@import '~antd/dist/antd.css';

.ant-page-header {
  background-color: black;
}

.ant-page-header-heading{
  display: flex;
  justify-content: left;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.searchBar {
  margin-top: 4px;
  width: calc(100vw - 610px);
}

.ant-input-search-button{
  background-color: #610094;
  border-color: white;
}

.ant-input-search-button:hover{
  background-color: #610094;
  border-color: white;
  cursor: pointer;
}

.login{
  padding: 3px 30px;
  font-weight: bold;
  background-color: #610094 ;
  border-color: white;
  border: solid 2px #610094;
  color: white;
}

.login:hover{
  background-color: #610094;
  border: solid 2px white;
  color: white;
}

